nav.white
	.nav-wrapper
		a.teal-text.brand-logo(href="#!") Logo
		a.teal-text.sidenav-trigger(href="#" data-target="mobile-demo")
			i.material-icons menu
		ul.right.hide-on-med-and-down
			li
				a.teal-text(href="sass.html") Sass
			li
				a.teal-text(href="badges.html") Components
			li
				a.teal-text(href="collapsible.html") Javascript
			li
				a.teal-text(href="mobile.html") Mobile
			li
				form
					.input-field
						input#search(type="search" placeholder="Search")
						label.label-icon(for="search")
							i.material-icons.teal-text search
						i.material-icons close


ul#mobile-demo.sidenav
	li
		a(href="sass.html") Sass
	li
		a(href="badges.html") Components
	li
		a(href="collapsible.html") Javascript
	li
		a(href="mobile.html") Mobile
