extend ../components/layout.pug

block styles
    link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
    link(rel="stylesheet", href="/css/organization.css")

block title
    title Login User | AirChat

block content

	
    .row.center
        .col.l6.center.hide-on-small-only
            img(src="/images/logo.png", alt="", width="300", style="margin-top:20%")

        .col.s12.l6
            .card-panel.z-depth-4(style="margin-top:10%;border-radius:30px;")
                
                h3.light.center Airchat
                h5.light.center Login User
        
                .row
                    form.col.s12(action="/api/user/create", method="post")
                        .container
                          .row
                              .col.s12
                                  
                                  .input-field.col.s12
                                      label(for="username") Username
                                      input#username(type="text", name="username")

                                  .input-field.col.s12
                                      label(for="password") Password
                                      input#password(type="password", name="password")

                                  .right
                                      a(href="#") Forgot Password?                                  

                              .col.s12.center(style="margin-top:10%")
                                  button.btn.waves-effect.waves-light.bg-secondary.curvy(type='submit', name='action') Submit

