extends components/layout

block content
    .container
        ul.browser-default
            li
                a(href="/api/docs/routes") Routes

            li
                a(href="/api/docs/models") Models