html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title AirChat
    body
        h1 AirChat
        h2 Documentation
        h3 Models
        
        h4 User
        p File: user.js
        p Schema: User
        p Properties: 
        ul 
            li name: String
            li username: String
            li password: String
            li position: String
            li organization: ObjectId(Organization)

        