extends components/layout

block content
    .container
        h3 Models
        
        h4 User
        p File: user.js
        p Schema: User
        p Properties: 
        ul.browser-default 
            li name: String
            li username: String
            li password: String
            li position: String
            li organization: ObjectId(Organization)

        h4 Organization
        p File: organization.js
        p Schema: Organization
        p Properties: 
        ul.browser-default 
            li name: String
            li location: 
                ul.browser-default
                    li name: String
                    li geo: 
                        ul.browser-default
                            li lat: Number
                            li long: Number
            li parent: ObjectId(Organization)                
            li root: Boolean | default: true
            li suborgs: [ObjectId(Organization)]
        