extends components/layout

block content
    .container
        h3 Models
        
        h4 User
        p File: user.js
        p Schema: User
        p Properties: 
        ul.browser-default 
            li name: String
            li username: String
            li password: String
            li position: String
            li organization: ObjectId(Organization)

        h4 Organization
        p File: organization.js
        p Schema: Organization
        p Properties: 
        ul.browser-default 
            li name: String
            li location: 
                ul.browser-default
                    li name: String
                    li geo: 
                        ul.browser-default
                            li lat: Number
                            li long: Number
            li parent: ObjectId(Organization)                
            li root: Boolean | default: true
            li suborgs: [ObjectId(Organization)]

        
        h4 Conversation
        p File: conversation.js
        p Schema: Conversation
        p Properties: 
        ul 
            li name: String
            li admins: ObjectId(User)
            li users: ObjectId(User)
            li creator: ObjectId(User)
            li messages: ObjectId(Message)

       
        h4 Message
        p File: message.js
        p Schema: Message
        p Properties: 
        ul 
            li date:
                ul
                    li text: String
            li user: ObjectId(User)
            li time:
                ul  
                    li sent: Date
                    li.blue-text.text-darken-2 delivered: Date
                    li.blue-text.text-darken-2 read: Date   

        h4 Notice
        p File: notice.js
        p Schema: Notice
        p Properties: 
        ul
            li from: ObjectId(User)
            li title: String
            li body: String
            li date: Date              