html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title AirChat
    body
        h1 AirChat
        h2 Documentation
        h3 Models
        
        h4 User
        p File: user.js
        p Schema: User
        p Properties: 
        ul 
            li name: String
            li username: String
            li password: String
            li position: String
            li organization: ObjectId(Organization)

        h4 Organization
        p File: organization.js
        p Schema: Organization
        p Properties: 
        ul 
            li name: String
            li location: 
                ul
                    li name: String
                    li geo: 
                        ul
                            li lat: Number
                            li long: Number
            li parent: ObjectId(Organization)                
            li root: Boolean | default: true
            li suborgs: [ObjectId(Organization)]

        
        h4 Conversation
        p File: conversation.js
        p Schema: Conversation
        p Properties: 
        ul 
            li name: String
            li admins: ObjectId(User)
            li users: ObjectId(User)
            li creator: ObjectId(User)
            li messages: ObjectId(Message)

       