extends components/layout

block content
    .container
        h3 Routes
        
        h4 Organization

        ul.browser-default
            li
                a(href="/api/organization/create") "/api/organization/create" - POST - Organization create

            li
                a(href="/api/organizations") "/api/organizations" - GET - Organization list

            li
                a(href="/api/organization/:id") "/api/organization/:id" - GET - Details of organization 'id'

            li
                a(href="/api/organizations/:id/members") "/api/organizations/:id/members" - GET - Organization members list for organization 'id'
            
            li
                a(href="/api/organization/:id/delete", style="color:red") "/api/organization/:id/delete" - POST - Delete organization 'id'

            li
                a(href="/api/organizations/delete/all", style="color:red") "/api/organizations/delete/all" - GET - Delete All organizations
