extends components/layout

block content
    .container
        h3 Routes
        
        h4 Organization

        ul.browser-default
            li Organization create
                pre
                    code.language-js 
                        | POST - "/api/organization/create"  
                        | 
                        | body: {
                        |    name: String, 
                        |    location: {
                        |        name: String, 
                        |        geo: {
                        |            lat: Number,
                        |            long: Number
                        |        }
                        |    }, 
                        |    root: 'on'|'off', 
                        |    parent: ObjectId(Organization)
                        | }
                        | 
                        | params: {}
                        |
                        | response: Object(Organization)

            li
                a(href="/api/organizations") "/api/organizations" - GET - Organization list

            li
                a(href="/api/organization/:id") "/api/organization/:id" - GET - Details of organization 'id'

            li
                a(href="/api/organizations/:id/members") "/api/organizations/:id/members" - GET - Organization members list for organization 'id'
            
            li
                a(href="/api/organization/:id/delete", style="color:red") "/api/organization/:id/delete" - POST - Delete organization 'id'

            li
                a(href="/api/organizations/delete/all", style="color:red") "/api/organizations/delete/all" - GET - Delete All organizations

            li  
                a(href="/api/organization/root") "/api/organization/root"-Root of Organization

            li
                a(href="/api/organization/:id/membres") "/api/organization/id/members"-ID of organization members
        