extend ../components/layout.pug

block styles
    link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
    link(rel="stylesheet", href="/css/organization.css")

block title
    title Create User | AirChat

block content

    .row.center
        .col.s12.l6.push-l3
            .card-panel.z-depth-4(style="margin-top:10%;border-radius:30px;")
                
                h3.light.center Airchat
                h5.light.center Create User
        
                .row.hide-on-med-and-down
                    form.col.s12(action="/api/user/create", method="post")
                        .row
                            .col.s6
                                .input-field.col.s12
                                    label(for="name") Name
                                    input#name(type="text", name="name")

                                .input-field.col.s12
                                    label(for="position") Position
                                    input#position(type="text", name="position")

                                .input-field.col.s12
                                    label(for="username") Username
                                    input#username(type="text", name="username")

                            .col.s6
                                .input-field.col.s12
                                    label(for="phone") Phone
                                    input#phone(type="text", name="phone")

                                .input-field.col.s12
                                    select#organization(name="organization")
                                        each organization in organizations
                                            option(value=''+organization._id) #{organization.name}
                                    label Organization

                                .input-field.col.s12
                                    label(for="password") Password
                                    input#password(type="password", name="password")
                                

                            .col.s12.center
                                button.btn.waves-effect.waves-light.bg-secondary.curvy(type='submit', name='action') Submit


                .row.hide-on-large-only
                    form.col.s12(action="/api/user/create", method="post")
                        .row
                            .container
                                .input-field.col.s12
                                    label(for="name") Name
                                    input#name(type="text", name="name")

                                .input-field.col.s12
                                    label(for="position") Position
                                    input#position(type="text", name="position")

                                .input-field.col.s12
                                    label(for="username") Username
                                    input#username(type="text", name="username")

                            
                                .input-field.col.s12
                                    label(for="phone") Phone
                                    input#phone(type="text", name="phone")

                                .input-field.col.s12
                                    select#organization(name="organization")
                                        each organization in organizations
                                            option(value=''+organization._id) #{organization.name}
                                    label Organization

                                .input-field.col.s12
                                    label(for="password") Password
                                    input#password(type="password", name="password")
                                
                            .col.s12.center(style="margin-top:2%")
                                button.btn.waves-effect.waves-light.bg-secondary.curvy(type='submit', name='action') Submit