extend ../components/layout.pug

block styles
    link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
    link(rel="stylesheet", href="/css/organization.css")

block title
    title Login User | AirChat

block content

	
    .row.center
        .col.l6.m6.center.hide-on-small-only
            img(src="/images/crowd.png", alt="", width="500", style="margin-top:20%")

        .col.s12.l6.m6
            .container
                .card-panel.z-depth-4(style="margin-top:10%;border-radius:30px;")
                    h3.center
                        |    Usernames
                    ul
                        each user in users
                            li 
                                a(href="/api/user/"+user._id) #{user.name} 
                                //- - #{user.position} - #{user.organization.name}
                                
//-     section#users
//-         .container
//-             .collection
//-                 a.collection-item(v-for='user in users' @click='updateUsers(user._id)') {{user.name}}

//- block scripts
//-     script(src="/js/init/users.index.js")