extend ../components/layout.pug

block styles

block title
    title Users | AirChat

block content

    section#users
        .container
            .collection
                a.collection-item(v-for='user in users' @click='updateUsers(user._id)') {{user.name}}

block scripts
    script(src="/js/init/users.index.js")