extend ../components/layout.pug

block styles
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(rel="stylesheet", href="/css/organization.css")

block title
    title User Profile | AirChat

block content

    .row
        .col.s12
            
        
            h5.center Profile 
                    i.material-icons.left arrow_back

    .row
        .col.s12.l4.push-l4
            .card-panel.center
                img.circle(src="/images/yuna.jpg" alt="")
