extend ../components/layout.pug

block styles
    link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
    link(rel="stylesheet", href="/css/organization.css")

block title
    title Create User | AirChat

block content

    .row.center.hide-on-med-and-up
        .col.s12
            .card-panel.z-depth-4.bg-profile(style="margin-top:10%;border-radius:10px")
                .center
                    img.responsive-img.circle(src="/images/face.png", alt="", style='border: 2px solid white', width="150")

                .row(style="margin-top:10%")
                    .center
                        h3.white-text Charles
                        p.white-text Position, Organization
                    .col.s4.center
                        i.material-icons.white-text.small mail_outline
                    .col.s4.center
                        i.material-icons.white-text.small call
                    .col.s4.center
                            i.material-icons.white-text.small message


            .container(style="margin-top:50px")
                .row
                    p.center(style="margin-bottom:0")   Fullname
                    h3.center(style="margin-top:0")   Charles Merwin



    .row.hide-on-small-only(style="margin-top:3%")    
        .container
            .col.s3.center
                img.responsive-img.circle.materialboxed(src="/images/face.png", alt="")
            .col.s8
                .center
                    h3.strong Charles Merwin    
                    h5.center
                        | @charlesmerwin
                    p
                        |   Working as POSITION at ORGANIZATION
                    .row(style="margin-top:10%")
                        .center
                        .col.s4.center
                            i.material-icons.color-primary.small mail_outline
                        .col.s4.center
                            i.material-icons.small.color-primary call
                        .col.s4.center
                                i.material-icons.small.color-primary message
            .col.s1    
                .right
                    i.material-icons.color-primary edit
