extend ../components/layout.pug

block styles
    link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
    link(rel="stylesheet", href="/css/organization.css")

block title
    title Login User | AirChat

block content

	
    .row.center
        .col.l6.m6.center.hide-on-small-only
            img(src="/images/crowd.png", alt="", width="500", style="margin-top:20%")

        .col.s12.l6.m6
            .container
                .card-panel.z-depth-4(style="margin-top:10%;border-radius:30px;")
       
                    .center
                        img.responsive-img.circle(src="/images/face.png", alt="")
                    h5.center
                        |  Name: #{result.name} 
                    p.black-text
                        |   #{result.position}, #{result.organization.name} 
            
                        