extend ../components/layout.pug

block styles
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(rel="stylesheet", href="/css/organization.css")

block title
    title Create Organization | AirChat

block content
    body.sahil-teal

        //- form(action="/api/organization/create", method="post")
        //-     label(for="name") Name
        //-     input#name(type="text", name="name")

        //-     label(for="location") Location
        //-     input#location(type="text", name="location")

        //-     label(for="parent") Parent Organization
        //-     select#parent(name="parent")
        //-         each organization in organizations
        //-             option(value=''+organization._id) #{organization.name}

        //-     input(type="submit", value="Submit")

        .white-text.container
            .row
                
                .col.s12.l4.push-l4.center
                    img(src="/images/iconsvgwhite.svg", alt="", width="100")

                    h1 Airchat
                    h3 Create Organization
            
                    .row
                        form.col.s12(action='/api/organization/create',method='POST')
                            .row
                                .input-field.col.s12
                                    input#name.white-border.validate(type='text', name='name')
                                    label.white-text(for="name") Name                                    

                                .input-field.col.s12
                                    input#location.white-border.validate(type='text', name='location')
                                    label.white-text(for="location") Location

                                .input-field.col.s12
                                    select#parent.white-border.validate(type='text', name='parent')
                                        each organization in organizations
                                            option(value=''+organization._id) #{organization.name}
                                    label.white-text(for="parent") Parent

                                .col.s12
                                    button.btn.waves-effect.waves-light(type='submit', name='action') Submit
