extend ../components/layout.pug

block styles
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(rel="stylesheet", href="/css/organization.css")

block title
    title Create Organization | AirChat

block content

    .row
        .col.s12.l4.push-l4
            .card-panel.bg-primary
                
                h3.light.center.fg-primary Airchat
                h5.light.center.fg-secondary Create Organization
        
                .row
                    form.col.s12(action='/api/organization/create',method='POST')
                        .row
                            .input-field.col.s12
                                input#name.white-border.validate(type='text', name='name')
                                label(for="name") Name                                    

                            .input-field.col.s12
                                input#location.white-border.validate(type='text', name='location')
                                label(for="location") Location

                            .input-field.col.s12
                                select#parent.white-border.validate(type='text', name='parent')
                                    each organization in organizations
                                        option(value=''+organization._id) #{organization.name}
                                label(for="parent") Parent

                            .col.s12.center
                                button.btn.waves-effect.waves-light.bg-secondary.curvy(type='submit', name='action') Submit
