extend ../components/layout.pug

block styles

block title
    title Organizations | AirChat

block content

    section#organizations
        .container
            .collection
                a.collection-item(v-for='organization in organizations' @click='updateOrganizations(organization._id)') {{organization.name}}

block scripts
    script(src="/js/init/organizations.js")