extend ../components/layout.pug

block styles
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(rel="stylesheet", href="/css/organization.css")

block title
    title Organizations | AirChat

block content

    ul.collapsible
        each organization in organizations
            if organization.root
                li
                    .collapsible-header
                        a(href="/api/organization/"+organization._id) #{organization.name} - #{organization.location.name}
                    .collapsible-body
                        ul
                            each suborg in organization.suborgs
                                li
                                    a(href="/api/organization/"+suborg._id) #{suborg.name} - #{suborg.location.name}
