html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title AirChat
    body
        h1 AirChat
        h2 Documentation
        p To be updated soon.

        h3 Organization

        ul
            li
                a(href="/api/organization/create") "/api/organization/create" - POST - Organization create

            
            li
                a(href="/api/organization/:id") "/api/organization/:id" - GET - Organization details

            
            li
                a(href="/api/organization/:id/delete", style="color:red") "/api/organization/:id/delete" - POST - Organization

            
            li
                a(href="/api/organizations") "/api/organizations" - GET - Organization list

            li
                a(href="/api/organizations/delete/all", style="color:red") "/api/organizations/delete/all" - GET - Delete All Organizations
