html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Organizations
    body
        ul
            each organization in organizations
                li 
                    a(href="/organization/"+organization._id) #{organization.name} - #{organization.location.name}
                    ul
                        each suborg in organization.suborgs
                            li
                                a(href="/organization/"+suborg._id) #{suborg.name} - #{suborg.location.name}

