html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title AirChat
    body
        h1 AirChat
        p Available routes:
        ul
            li Organization
                ul
                    li
                        a(href="/organization") /organization - List
                    li
                        a(href="/organization/create") /organization/create - Create
                    li
                        a(href="/organization/manage") Org manage
                    li
                        a(href="/organization/profile") Org Profile
           
           
            li User
                ul
                    li
                        a(href="/user") /user - List
                    li
                        a(href="/user/create") /user/create - Create
                    li
                        a(href="/user/profile") Profile
                    li
                        a(href="/login") Login 
                    li
                        a(href="/signup") signup 
           
           
            li Conversation
                ul
                    li
                        a(href="/user/chats") List
                    li
                        a(href="/user/chat") Chat

                        
        p
            a(href="/api") API Documentation
