extend ../components/layout.pug

block styles

block title
	title Bulletin Board | AirChat

block content

	section#noticeForm
		.container
			h4.center Create post

			
			form.row(action='/api/notice/create',method="POST")

				.input-field.col.s12
					select.browser-default#from(name='from')
						option(v-for="user in users" v-bind:value="user._id") {{ user.name }}
					//- label(for="from") User name
				.input-field.col.s12
					input#title.validate(type='text' name='title')
					label(for='title') Post Title
				.input-field.col.s12
					textarea#body.materialize-textarea(name='body')
					label(for='body') Post Body

				.col.s12.center
					button.btn(type='submit', name='action') Submit




block scripts
	script(src="/js/init/bulletin.create.js")

