extend ../components/layout.pug

block styles

block title
	title Bulletin Board | AirChat

block content

	section#notices
		.container
			h4.center Create post

			.row
				.col.s12
					ul.collapsible
						li(v-for="notice in notices") {{notice}}
							.collapsible-header {{ notice.title }}

							.collapsible-body
								p {{ notice.body }}
								p {{ notice.from.name }}
								p {{ notice.date }}





block scripts
	script(src="/js/init/bulletin.index.js")