extend ../components/layout.pug

block styles
	//- link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300")
	link(rel="stylesheet", href="/css/organization.css")
	link(rel="stylesheet", href="/css/notices.css")

block title
	title Bulletin Board | AirChat

block content
	.row(style="background:#F9C947")
		
		.col.s12.m4.l3
			.sticky
				img(src="/images/quote.png", alt="", width="400")
		.col.s12.m8.l9
			section#notices
				.container
					h3.center.mont.white-text.sticky-notice Notice Board		
					.card-panel.z-depth-4(style="border-radius:30px;height: 65vh;width: 110vh;overflow-y: scroll;")
						.card-panel.z-depth-2.center(v-for="notice in notices")(style="border-radius:30px")
							h5.center.mont.strong(style="padding:0;margin:0;") 
								|	{{ notice.title }}					
							p.mont
								|	{{notice.body}}
						//- Timepass data
						//- p.mont
							|	m. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dom. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum do
							

	a.btn-floating.btn-large.waves-effect.waves-light(href="/notices/create",style="background:#5777F7")
		i.material-icons add



block scripts
	script(src="/js/init/bulletin.index.js")

				//- .row
					.col.s12.center
						.card-panel(style="margin-top:5%;border-radius:30px;")
							ul.collapsible(v-for="notice in notices")(style="border-radius:30px")
							
								li(style="border-radius:30px;")
									.collapsible-header.center(style="border-radius:30px")
										.left
											h4.center(style="padding:0;margin:0") 
												|	{{ notice.title }}									
											p.center(style="padding:0;margin:0") 
												
												img.responsive-img.circle(src="/images/face.png", alt="",width="30")
												|	 {{ notice.from.name }} 
									.collapsible-body
										p {{ notice.body }}
										p.right Posted by: {{ notice.from.name }} |{{ notice.date }}
										p
											a.btn(@click="deleteNotice(notice._id)")
												i.material-icons.center.red-text close
