* {
    font-family: 'Lato', sans-serif;
}

.sahil-teal {
    background: #72B095;
}

input[type="text"]:not(.browser-default).white-border {
    border-bottom: 1px solid white;
}

.breadcrumb.teal-text {
    
    color: rgba(0, 150, 136, 0.7);
  }
  

  
  .breadcrumb.teal-text:before {
    color: rgba(0, 150, 136, 0.7);
  }
  

  .breadcrumb.teal-text:last-child {
    color: #009688;
  }
