@import 'theme';
body {
    display: flex;
    flex-direction: column;
    main {
        flex: 1 0 auto;
    }
}

.btn-bordered {
    box-sizing: content-box;
    border: 1px solid #aaaaaa80;
    margin-right: 5px;
}

.margin-right-compact {
    margin-right: 5px;
}

.collection .collection-item.avatar {
    min-height: initial;
}

.no-margin {
    margin: 0;
}

.margined-tiny {
    margin: 8px;
}

img.top-margin-reduce {
    margin-top:-25%; 
    width: 100px  
}

.rounded-no-hide {
    border-radius: 8px;
}