doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title AirChat

        link(rel="stylesheet", href="/css/lib/materialize.min.css")
        link(rel="stylesheet", href="/css/lib/MaterialIcons.css")
        link(rel="stylesheet", href="/css/lib/prism.css")
        link(rel="stylesheet", href="/css/lib/dayshmookh.layout.css")

    body
        section.blue-grey.darken-3
            .container
                h1.blue-grey-text.text-lighten-5 AirChat
        section
            .container
                h2 Documentation
        block content

        script(src="/js/lib/materialize.min.js")
        script(src="/js/lib/prism.js")
        script(src="/js/init.js")